* {
	margin: 0;
	padding: 0;
}

@page {
	margin: 25mm;
	size: A4;
}

@font-face {
	font-family: "Beleren";
	src: url('beleren-bold-webfont.ttf');
}

body {
	font-family: 'Beleren', sans-serif;
	font-weight: 100;
	width: 160mm;
}

div.symbol, div.set, div.date, div.fullinfo {
        display: inline-block;
        }

div.container {
	width: 67mm;
	float: left;
	height: 9mm;
	overflow: hidden;
	page-break-after: always;
}

div.symbol {
	width: 12mm;
	height: 9mm;
}

div.symbol img {	
	height: 100%;
}

div.fullinfo {
	width: 53mm;
	height: 9mm;
	vertical-align: top;
}

div.set {
	height: 5mm;
	width: 100%;
	overflow: hidden;
}

div.set p {
	font-size: 11pt;
}

div.date {
	height: 3mm;
}

div.date p {
	font-size: 7pt;
	color: #a0a0a0;
}

div.ruler {
	height: 9mm;
	width: 9mm;
	float: left;
	margin: 0 1mm;
	border-left: 1px solid #AEAEAE;
	border-right: 1px solid #AEAEAE;
	border-bottom: 1px solid #AEAEAE;
}

